/* common */
.t-Alert--success.showBullets .htmldbStdErr,
.t-Alert--page.showBullets .htmldbStdErr {
    list-style: disc;
    margin: 4px 12px 4px 24px;
}

.t-Body-alert.fixed {
  position: fixed;
  z-index: 111;
  width: 100%;
}

.p-Alert {
  position: fixed;
  z-index: 899;
}

.p-Alert.TOPRIGHT {
  top: 12px;
  right: 12px;    
}

.p-Alert.TOPLEFT {
  top: 12px;
  left: 12px;    
}

.p-Alert.BOTTOMLEFT {
  bottom: 12px;
  left: 12px;    
}
.p-Alert.BOTTOMRIGHT {
  bottom: 12px;
  right: 12px;
}

.pretius--embeded .durationIndicator,
.pretius--notification .durationIndicator {
  position: absolute;
  width: 100%;
  background: rgba(57, 57, 57, 0.2);
  height: 5px;
  bottom: 0px;
  left: 0px;  
}

.pretius--embeded .aErrMsgTitle {
  font-weight: 700;
}

.pretius--embeded .htmldbUlErr,
.pretius--notification .htmldbUlErr {
  margin: 0;
  list-style: none;
}

.pretius--embeded .htmldbOraErr,
.pretius--notification .htmldbOraErr {
  margin-top: 8px;
  display: block;
  font-size: 1.1rem;
  line-height: 1.6rem;
  font-weight: normal;
  font-family: Menlo,Consolas,monospace,serif;
  white-space: pre-line;
}

.p-Alert .pretius--notification.t-Alert--success,
.p-Alert .pretius--notification.t-Alert--warning,
.p-Alert .pretius--notification.t-Alert--danger {
  max-width: 480px;
  position: relative;
  top:auto;
  right:auto;
  opacity: 1;
}
/* success */
.t-Alert--page.t-Alert--success.is-visible,
.t-Alert--page.t-Alert--success {
  transition: inherit;
  transform: translateY(0px);
}

/* danger */
.p-Alert .pretius--notification.t-Alert--danger {
  background-color: rgba(225,72,72,0.9);
}
.p-Alert .pretius--notification.t-Alert--danger .t-Alert-title, 
.p-Alert .pretius--notification.t-Alert--danger .t-Icon {
  color: #FFF;
}
.p-Alert .pretius--notification.t-Alert--danger .t-Alert-title {
  font-size: 1.4rem;
  font-weight: 700;
}


/* warning */
.p-Alert .pretius--notification.t-Alert--warning .t-Alert-title {
  font-size: 1.4rem;
}

.p-Alert .pretius--notification.t-Alert--warning {
  background-color: rgba(255,250,229,0.9); 
  color: #737373;
}

.p-Alert .pretius--notification.t-Alert--warning .t-Alert-icon .t-Icon {
  color: #ffcc00;  
}

.p-Alert .pretius--notification.t-Alert--warning .t-Alert-buttons .t-Icon.icon-close {
  color: #737373;
}

.pretius--embeded .t-Alert-buttons,
.pretius--embeded .t-Alert-icon,
.pretius--notification .t-Alert-buttons,
.pretius--notification .t-Alert-icon {
  vertical-align: top;
}
